@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index for home controller</title>
    </head>
    <body>
        <p>
            Пример маршрутизации №1 <br />
            Вызов метода Index в HomeController
        </p>
    </body>
</html>
