@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SumResult метод с параметрами</title>
    </head>
    <body>
        <p>
            Result == @Model
        </p>
    </body>
</html>