@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Пример CatchAll параметра в маршруте</title>
    </head>
    <body>
        Result == @Model
    </body>
</html>