<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="TestDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\user\Desktop\PROJECT\ForGit\ASP.NET_Core_examples\03_MSSQL_NET_4.8\MSSQLNET\TestDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>