@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@model LtModel.ContactsViewModel

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>
@await Html.PartialAsync("_ContactsPartial", Model)

@*<partial name="_ContactsPartial" />*@ 