@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>
<p>
    Подключаемый файл, частичная реализация, это View не является полноценной разметкой
</p>

@* Внедрение частичного представления в указанный блок разметки *@
<partial name="_ContactsPartial" />

@*
@section Footer {
    <footer>
        Index. Создание UI в Asp.Net Core
    </footer>
}
*@