@* Редактирование данных *@
@model _09_Entity_Framework.Models.User

<h2>Редактирование пользователей</h2>
<form asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Имя</label>
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Age">Возраст</label><br />
        <input type="number" asp-for="Age" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form> 