@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List TestController Example</title>
    </head>
    <body>
        <p>Test Controller. List</p>
    </body>
</html>